<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
	        	<li><a href="/publications">Publications</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:cleber.amaral@ifsc.edu.br">email</a></li>
        		<li><a href="https://wiki.sj.ifsc.edu.br/wiki/index.php/Usu%C3%A1rio:Cleber.amaral">Wikipage</a></li>
			</ul>
		</footer>
	</body>
</html>
